@import url(reusable.css);

body {
  background: url("assets/crew/background-crew-mobile.jpg");
  background-size: cover;
  background-attachment: fixed;
}

img.crew {
  display: block;
  height: 243px;
  position: relative;
  margin: 0 auto;
  top: 90px;
  //background: rgba(255, 192, 203, 0.308);
}

div.intro {
  top: 190px;
}
.line1 {
  position: relative;
  top: 89px;
  margin: 0 auto;
  border-bottom: 1px rgba(255, 255, 255, 0.24) solid;
  width: 90%;
}
#radio-group {
  position: absolute;
  top: 445px;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
input[type="radio"] {
  appearance: none; /* https://moderncss.dev/pure-css-custom-styled-radio-buttons/ */
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.397);
}
input[type="radio"]:checked {
  background-color: rgb(255, 255, 255);
}

h1 {
  font-family: Bellefair-Regular;
  letter-spacing: 1px;
}
.role {
  font-family: Bellefair-Regular;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
p.bio {
  font-family: BarlowCondensed-ExtraLight;
  font-size: 14px;
  letter-spacing: 1.25px;
  line-height: 25px;
  font-family: Barlow-ExtraLight;
  position: relative;
}

@media (min-width: 600px) {
  body {
    background: url("assets/crew/background-crew-tablet.jpg");
    background-size: cover;
  }
  div.intro {
    top: -35%;
    width: 80%;
    max-width: 458px;
    margin: 0 auto;
    //background: rgba(255, 192, 203, 0.233);
  }
  .role {
    font-size: 24px;
  }

  img.crew {
    top: 50%;
    height: 54.68%;
  }
  .line1 {
    display: none;
  }
}

@media (min-width: 1024px) {
  body {
    background: url("assets/crew/background-crew-desktop.jpg");
    background-size: cover;
  }

  img.crew {
    height: 550px;
    top: 230px;
    margin: 0;
    margin-left: 62%;
    left: 0;
  }
  div.intro {
    top: -270px;
    max-width: 35%;
    margin: 0;
    left: 10%;
  }
  h1.name {
    font-size: 40px;
    max-width: 100%;
  }
  #radio-group {
    position: absolute;
    top: 88%;
    display: flex;
    justify-content: flex-start;
    left: 10%;
    gap: 20px;
    width: 50%;
  }
}
