@font-face {
  font-family: Bellefair-Regular;
  src: url("fonts/Bellefair-Regular.otf");
}

@font-face {
  font-family: BarlowCondensed-ExtraLight;
  src: url("fonts/BarlowCondensed-ExtraLight.ttf");
}

@font-face {
  font-family: Barlow-ExtraLight;
  src: url("fonts/Barlow-ExtraLight.otf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: black;
  background-image: url("assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

svg.logo {
  position: relative;
  top: 26px;
  left: 35px;
}

svg.ham {
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 99;
}

svg.ham:hover {
  cursor: pointer;
}

.hamNavMenu {
  z-index: 99;
  display: inline-block;
  right: 0;
  height: 100vh;
  top: 0;
  width: 254px;
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}

.hamLinks {
  display: inline-block;
  width: 224px;
  position: relative;
  top: 140px;
  left: 30px;
  text-decoration: none;
  font-family: BarlowCondensed-ExtraLight;
  color: white;
  letter-spacing: 1.8px;
  padding: 7px 0;
  margin-bottom: 16px;
  border-right: solid 3px rgba(255, 255, 255, 0);
}

.hamLinks:hover {
  border-right: solid 3px white;
  cursor: pointer;
}

.close {
  position: absolute;
  display: inline-block;
  top: 40px;
  right: 40px;
  z-index: 999;
}

.close:hover {
  cursor: pointer;
}

.line {
  display: none;
  border-bottom: 1px rgba(255, 255, 255, 0.307) solid;
  width: 39%;
  margin-left: 10%;
  position: absolute;
  top: 81px;
}

nav {
  background: rgba(255, 255, 255, 0.048);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: none;
}

nav > a {
  color: white;
  font-family: BarlowCondensed-ExtraLight;
  text-decoration: none;
  letter-spacing: 1.6px;
  font-size: 14px;
  text-transform: uppercase;
}

.active {
  border-bottom: solid white 3px;
}

input {
  font-family: BarlowCondensed-ExtraLight;
}

.category {
  position: relative;
  top: 60px;
  display: inline-block;
  text-align: center;
  width: 100%;
  letter-spacing: 2.5px;
}

div.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  position: relative;
  margin: 0 auto;
  top: 75px;
  text-align: center;
  width: 90vw;
  max-height: 276px;
}

h1 {
  font-family: Bellefair-Regular;
  font-size: 26px;
  letter-spacing: 4px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}

h5 {
  font-family: BarlowCondensed-ExtraLight;
  font-size: 16px;
  letter-spacing: 4.8px;
}

.description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 25px;
  font-family: Barlow-ExtraLight;
  margin: 0 auto;
}

h5.zero::before {
  content: "00 ";
}

h5.one::before {
  content: "01 ";
}

h5.two::before {
  content: "02 ";
}

h5.three::before {
  content: "03 ";
}

.zero::before,
.one::before,
.two::before,
.three::before {
  color: rgba(255, 255, 255, 0.307);
}

@media (min-width: 600px) {
  svg.logo {
    position: absolute;
  }
  svg.ham {
    display: none;
  }
  .hamNavMenu {
    display: none;
  }
  nav {
    position: absolute;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 25px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav > a {
    margin: 0px 20px;
    padding: 32px 0px;
    border-bottom: solid rgba(255, 255, 255, 0) 3px;
  }
  nav > a:hover {
    border-bottom: solid rgba(255, 255, 255, 0.5) 3px;
  }
  .description {
    max-width: 458px;
  }
  .category {
    font-size: 20px;
    text-align: left;
    margin-left: 7%;
    width: 90%;
    top: 14%;
  }
  h1 {
    font-size: 40px;
  }
}

@media (min-width: 1024px) {
  .line {
    display: inline-block;
  }
  svg.logo {
    top: 57px;
    left: 50px;
  }
  nav {
    top: 40px;
    gap: 50px;
    padding-right: 10%;
    padding-left: 6%;
  }
  h1,
  div.intro,
  h5 {
    text-align: left;
    max-width: 450px;
    left: 0;
  }
  a.zero::before {
    content: "00 ";
  }
  a.one::before {
    content: "01 ";
  }
  a.two::before {
    content: "02 ";
  }
  a.three::before {
    content: "03 ";
  }
  .category {
    font-size: 28px;
    left: 48px;
    top: 180px;
  }
}

@media (min-width: 1024px) and (max-width: 1321px) {
  .line {
    width: 30%;
    margin-left: 12%;
  }
}
/*# sourceMappingURL=reusable.css.map */