@import url(reusable.css);

body {
  background: url("assets/technology/background-technology-mobile.jpg");
  background-size: cover;
}

img.hor,
.technology,
.description,
.term,
.div.intro {
  text-align: center;
  margin: 0 auto;
  position: relative;
  //background: rgba(255, 192, 203, 0.301);
}
.technology {
  top: 150px;
}

div.intro {
  top: 130px;
  padding: 0px;
}

h1 {
  top: 70px;
  letter-spacing: 1px;
}

img.hor {
  top: 100px;
  width: 100%;
}
img.ver {
  display: none;
}

input {
  z-index: 66;
  position: relative;
  display: inline;
  margin-right: 15px;
  cursor: pointer;
  appearance: none;
  font-family: Bellefair-Regular;

  &::before {
    content: attr(label);
    color: white;
    font-size: 16px;
    padding: 12px 17px;
    border: solid 1px rgba(255, 255, 255, 0.397);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0);
  }
  &:hover::before {
    background: rgba(255, 255, 255, 0.397);
    border-radius: 50%;
    padding: 12px 17px;
  }
  &:checked::before {
    color: black;
    background: rgb(255, 255, 255);
    border: white;
    border-radius: 50%;
    padding: 12px 17px;
  }
}

input[label="1"] {
  &::before {
    padding: 12px 18px;
  }
}

.term {
  top: 70px;
  font-family: BarlowCondensed-ExtraLight;
  letter-spacing: 1.6px;
  color: rgba(255, 255, 255, 0.5);
}

.description {
  top: 70px;
}

@media (min-width: 600px) {
  body {
    background: url("assets/technology/background-technology-tablet.jpg");
    background-size: cover;
  }
  .technology {
    top: 260px;
  }

  div.intro {
    top: 250px;
    padding: 0px;
  }

  input {
    &::before {
      font-size: 28px;
      padding: 15px 26px;
    }
    &:hover::before {
      padding: 15px 26px;
    }
    &:checked::before {
      padding: 15px 26px;
    }
  }

  input[label="1"] {
    &::before {
      padding: 15px 28px;
    }
  }
}
@media (min-width: 1024px) {
  body {
    background: url("assets/technology/background-technology-desktop.jpg");
    background-size: cover;
  }
  img.hor {
    display: none;
  }
  img.ver {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 250px;
  }
  .technology {
    display: flex;
    flex-direction: column;
    gap: 62px;
    left: -500px;
    top: 325px;
    width: fit-content;
  }

  .description,
  .term,
  .div.intro {
    text-align: left;
    margin: 0;
  }
  div.intro {
    top: 20px;
    left: -220px;
  }
  h1 {
    font-size: 48px;
    max-width: 480px;
  }
  .description {
    max-width: 80%;
  }
}
